cesi-zen.test {
    tls /etc/caddy/certs/cesi-zen.test.pem /etc/caddy/certs/cesi-zen.test-key.pem

    root * /var/www/html/public

    encode gzip

    php_fastcgi php:9000

    file_server
}

mail.cesi-zen.test {
    tls /etc/caddy/certs/cesi-zen.test.pem /etc/caddy/certs/cesi-zen.test-key.pem

    reverse_proxy mailpit:8025
}
