<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}CesiZen{% endblock %}</title>
        <link rel="icon" href="{{ asset('logo/Logo.svg') }}" type="image/svg+xml">

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body class="flex flex-col min-h-screen">
        {% include '_layout/_header.html.twig' %}

        <main class="flex-1 flex flex-col">
            {% block body %}{% endblock %}
        </main>

        {% include '_layout/_footer.html.twig' %}
    </body>
</html>
